:host {
    --color-hawk-gold: #ffcd00;
    --color-hawk-black: black;
    --color-gray: #93969a; // brand gray lightened just enough to meet WCAG AAA contrast for black text
    
    display: block;
    margin: 0;
    padding: 1rem;
    background-color:var(--comp-bg-color);

    h3 {
        margin-bottom: 0.5em;
    }

    .hidden {
        display: none;
    }

    .project-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;
        max-width: var(--fixed-width);
    }

    .mothership-branding {
        display: flex;
        align-items: center;

        margin: 0 !important;
        padding: 0;

        .block-iowa {
            display: inline-block;
            margin-right: 1rem;
            height: 30px;
            fill: var(--comp-block-iowa-color);

            svg {
                width: 100px;
                height: auto;
            }
        }

        .uilibraries-link {
            display: inline-block;
            color: var(--comp-text-color);
            text-decoration: none;
            font-weight: 500;
            vertical-align: middle;
            transition: 0.2s;

            &:hover {
                text-decoration: underline;
                opacity: 0.8;
            }
        }
    }

    .project-details__button {
        display: flex;
        align-items: center;
        // display: inline-block;
        margin: 0 !important;
        padding: 0.75rem 1rem;
        background-color: var(--button-bg-color);
        border: 0;
        color: var(--button-text-color);
        transition: 0.2s;

        svg {
            display: inline-block;
            margin-left: 0.5rem;
            width: 1.25em;
            fill: var(--button-text-color);
            transition: 0.2s;
        }
        &[aria-expanded="true"] svg {
            transform: rotate(180deg);
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;

            svg {
                transform: translateY(2px);
            }
            &[aria-expanded="true"] svg {
                transform: rotate(180deg) translateY(2px);
            }
        }
    }

    .project-details__summary {
        flex: 1 0 100%;
    }

    .project-details__container {
        flex: 1 0 calc(100% - 1rem);
        margin: 0;
        padding: 1rem 0;
        min-height: 4rem;
        color: var(--comp-text-color);
    }

    // block IOWA
    a.block-iowa svg {
        fill: var(--block-iowa-color);
    }
    
    a.block-iowa svg path {
        -webkit-transition: .1s;
        transition: .1s
    }
    a.block-iowa svg .block-i {
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }
    a.block-iowa svg .block-o {
        -webkit-transition-delay: .03s;
        transition-delay: .03s
    }
    a.block-iowa svg .block-w {
        -webkit-transition-delay: .06s;
        transition-delay: .06s
    }
    a.block-iowa svg .block-a {
        -webkit-transition-delay: .09s;
        transition-delay: .09s
    }
    
    a.block-iowa:hover svg path {
        opacity: .8
    }
}

// Component styles
// -- color scheme
:host, :host(.color-scheme-1) { // DEFAULT
    --comp-bg-color: white;
    --comp-block-iowa-color: black;
    --comp-text-color: black;
    --button-bg-color: var(--color-hawk-black);
    --button-text-color: white;
}
:host(.color-scheme-2) {
    --comp-bg-color: white;
    --block-iowa-color: var(--color-hawk-gold);
    --comp-text-color: black;
    --button-bg-color: var(--color-hawk-gold);
    --button-text-color: black;
}
:host(.color-scheme-3) {
    --comp-bg-color: var(--color-hawk-black);
    --block-iowa-color: var(--color-hawk-gold);
    --comp-text-color: white;
    --button-bg-color: var(--color-hawk-gold);
    --button-text-color: black;
}
:host(.color-scheme-4) {
    --comp-bg-color: var(--color-hawk-gold);
    --block-iowa-color: black;
    --comp-text-color: black;
    --button-bg-color: var(--color-hawk-black);
    --button-text-color: white;
}
:host(.color-scheme-5) {
    --comp-bg-color: var(--color-gray);
    --block-iowa-color: black;
    --comp-text-color: black;
    --button-bg-color: var(--color-hawk-black);
    --button-text-color: white;
}

// -- hide button (if not neaded). removes access to details container.
:host(.hide-button) {
    
    #project-details-button {
        display: none;
    }
}

// -- expand details container on page load. hides the button.
:host(.auto-expanded) {
    
    // #project-details-button {
    //     display: none;
    // }
    #project-details-container {
        display: block;
    }
}